.flight-location-input__control.css-13cymwt-control {
  border: 1px solid #ff5b00;
  border-radius: 50px;
  height: 45px;
  color: black;
}

.css-13cymwt-control,
.css-t3ipsp-control {
  border-color: #ff5b00 !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  height: 45px;
}

.css-13cymwt-control:hover {
  border-color: #ff5b00 !important;
  box-shadow: none !important;
}
